[Desktop Entry]
Name=Alt FT_Prog
GenericName=FT_Prog
Comment=Linux alternative to FT_Prog utility.
TryExec=/opt/altftprog/altftprogui
Exec=/opt/altftprog/altftprogui
Icon=altftprog
Type=Application
Categories=GTK;GNOME;Utility;
