[Desktop Entry]
Name=Alt FT_Prog
GenericName=FT_Prog
Comment=Linux alternative to FT_Prog utility.
TryExec=/opt/ftprog2/ftprog2gui
Exec=/opt/ftprog2/ftprog2gui
Icon=altftprog
Type=Application
Categories=GTK;GNOME;Utility;
